table,
th,
td {
    border: 1px solid #1F1B24;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #1E1E1E;
    padding: 6px;
}

table {
    width: 100%;
    color: rgb(255, 255, 255, 0.7);
    font-weight: bold;
    border-radius: 12px;
    padding: 0;
}

.statistics_container {

    h1,
    h2,
    li {
        color: rgb(255, 255, 255, 0.7);
        font-weight: bold;
    }
}